    body {
      margin: 0;
      font-family: Arial, sans-serif;
      background-image: url('bgpic.jpg');
      background-size: cover;
      background-position: center;
      height: 1000px;
    }

    nav {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      padding: 23px 0;
      z-index: 1000;
      transition: background-color 0.3s ease;
    }

    nav ul {
      list-style: none;
      margin: 0;
      padding: 0;
      text-align: center;
    }

    nav ul li {
      display: inline-block;
      margin: 0 15px;
    }

    nav ul li a {
      color: #fff;
      text-decoration: none;
      padding: 5px 10px;
      border-radius: 5px;
      transition: background-color 0.3s ease, color 0.3s ease;
    }

    nav ul li a:hover {
      background-color: #d570dc;
      color: #000000;
    }
